@using (Html.BeginForm())
{
    <button name="value" value="">Defaul</button>
    <button name="value" value="mobile">Mobile</button>
    <button name="value" value="desktop">Desktop</button>
    <button name="value" value="iPhone">iPhone</button>
}