@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>OPTIMIZED</title>

    @*Настройки бандлов, которые отображаются через Styles.Render() и Scripts.Render() происходят в классе BundleConfig*@

    @Styles.Render("~/content/css") @*Использование бандла со стилями*@
    @Scripts.Render("~/bundles/modernizr") @*Использование бандла с библиотекой modernizer*@
</head>

<body>
    <h1 style="color:green">Оптимизированная страница</h1>

    @*
        При загрузке JS файлов браузер останавливается и не загружает другой контент до тех пор, пока на загрузит и не выполнит код в JS файле.
        Тяжелы JS файлы лучше подключать перед закрывающим тэгом body, в таком случае, браузеру будет что показать пользователю, пока сценарии загружаются с сервера.
        Но стили и некоторые JS библиотека (например, modernizer) должны загружаться в начале страницы, так как необходимы для корректного отображения остальной части
        документа.
    *@
    @Scripts.Render("~/bundles/javaScripts") @*Использование бандла со всеми JS файлами сайта*@
</body>
</html>

