@{
    ViewBag.Title = "Validation Message Handler";
}

<p>Запрос не дойдет до контроллера так как его перехватит пользователь обработчик HTTP сообщений</p>
<a href="/api/test">API Controller GET request</a>
