@{
    ViewBag.Title = "Theme";
}

<a href="#" data-role="button" data-icon="star" data-theme="a">A</a>
<a href="#" data-role="button" data-icon="star" data-theme="b">B</a>
<a href="#" data-role="button" data-icon="star" data-theme="c">C</a>
<a href="http://jquerymobile.com/themeroller/">Theme Roller</a>
